.jumbotron{
  margin-left: 100px;
  margin-right: 100px;
}
h1{
  text-align: center;
}
#title{
  font-weight: bold;
  font-style: oblique;
  font-family: sans-serif;
  text-align: center;
}
.questions{
  display: none;
}
.user{
  background-color: wheat;
}
.answers{
  display: none;
  background-color: lightblue;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .image {
        width: 49.9999%;
        margin: 6px 0;

    }
}
@media screen and (min-width: 768px) {
  .image {
  }
  .column {
    width: 100%;

  }
}
